@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font001: "Work Sans", serif;
    --color001: #3FB3A6;
    --color002: #009CDC;
    --color003: #D77535;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font001);
    background-color: #fff;
}

html , body {
    overflow-x: hidden;
}

.external {
    text-decoration: none;
    color: var(--color001);
    font-weight: 600;
}

.external:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: white;
    width: 100vw;
    height: 90px;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.103);
    position: fixed;
    gap: 20%;
}

header img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 60px;
}

nav ul li {
    display: inline;
} 

nav ul li a {
    text-decoration: none;
    color: var(--color001);
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    transition: .3s ease;
}

nav ul li a:hover {
    transform: scale(1.05);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 18px;
    color: var(--color001);
    cursor: pointer;
    padding-right: 30px;
} 

main {
    padding-top: 90px;
}

section {
    scroll-margin-top: 90px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url(../imagens/imagem001.jpg) no-repeat center center;
    background-position: cover;
    background-attachment: fixed;
    height: calc(100vh - 90px);
    width: 100vw;
}

.text1 {
    text-align: center;
    width: 65%;
    min-width: 360px;
    color: white;
}

.text1 h1 {
    font-size: 4em;
    padding: 30px;
}

.text1 p {
    font-size: 20px;
    padding-bottom: 45px;
    line-height: 35px;
}

.text1 a {
    text-decoration: none;
    color: white;
    background-color: var(--color001);
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.text1 a:hover {
    background-color: white;
    color: var(--color001);
}

#solucao {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    margin: 0;
    height: auto;
    color: black;
    line-height: 30px;
    background-color: var(--color001);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.205);
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#solucao div {
    flex: 1;
    max-width: 500px;
    margin: 0;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.082);
}

#solucao h1 {
    padding-bottom: 10px;
    font-weight: 600;
}

#solucao hr {
    border: none;
    height: 1px;
    background-color: var(--color001);
    width: 40%;
    margin-bottom: 20px;
}

#solucao2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

#solucao2 .text2 {
    max-width: 600px;
}

.imagem {
    width: 400px;
    height: 500px; 
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text2 h1 {
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 20px;
}

.text2 hr {
    border: none;
    height: 1px;
    background-color: var(--color001);
    width: 200px;
    margin-bottom: 20px;
}

.text2 p {
    font-size: 18px;
    line-height: 30px;
}

.text2 img {
    padding-top: 20px;
    width: 150px;
}

#solucao3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--color001    );
    color: white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.205);    
}

#solucao3 h1 {
    font-size: 2.5em;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}

#solucao3 hr {
    margin: auto;
    border: none;
    height: 1px;
    background-color: white;
    width: 50%;
    margin-bottom: 20px;
}

.info001 {
    gap: 30px;
    text-align: center;
    display: grid;
    width: 80vw;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}

.info001 img {
    width: 50px;
    padding-bottom: 15px;
}

.info001 div {
    max-width: 500px;
    padding: 30px;
}

.info001 h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.info001 p {
    text-align: justify;
    font-size: 13px;
    line-height: 25px;
}

#tecnologia {
    display: flex;
    width: 100%;
    height: auto;
}

.imagem-lado {
    flex: 1;
    background: url('../imagens/tecnologia.jpg') no-repeat center right/cover;
}

.tecnologia {
    flex: 1;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.tecnologia h1 {
    font-size: 2.1em;
    font-weight: 500;
    padding-bottom: 20px;
}

.tecnologia hr {
    border: none;
    height: 1px;
    background-color: var(--color001);
    width: 350px;
    margin-bottom: 30px;
}

.tecnologia p {
    font-size: 18px;
    line-height: 30px;
}

.tecnologia h2 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 30px 0px 30px 0px;
}

.tecnologia ul {
    list-style-position: inside;
    list-style: none;
    padding: 0;
}

.tecnologia li {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    position: relative;
}

.tecnologia li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: green; 
    font-size: 18px;
}

#funcionalidades {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.205);
}

.titulo2 h1 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.titulo2 hr {
    margin: auto;
    border: none;
    height: 1px;
    background-color: var(--color001);
    width: 30%;
    margin-bottom: 50px;
}

.info002 {
    width: 80%;
    text-align: center;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.info002 div {
    margin: 30px;
    padding-bottom: 40px;
}

.info002 img {
    width: 100%;
    max-width: 360px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.item2 h1{
    font-size: 1.5em;
    font-weight: 500;
    padding: 15px;
}

.item2 p {
    font-size: 15px;
    line-height: 30px;
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(221, 221, 221);   
    gap: 15vw;
}

#contacto .input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group textarea {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#contacto form h2 {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}

#contacto button {
    width: 100px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--color003);
    padding: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
}

#contacto button:hover {
    transform: scale(1.05);
}

#contacto .contacto2 h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 15px;
}

#contacto .contacto2 p {
    padding-bottom: 10px;
    font-size: 15px;
    font-style: italic;
}

#mensagem {
    font-family: var(--font001);
    font-size: 16px;
}

footer {
    background-color: #ccc;
    text-align: center;
    padding: 30px;
}

footer p {
    font-size: 15px;
}

/*RESPOSIVIDADE*/

@media (max-width: 1300px) {
    .info001 {
        grid-template-columns: repeat(2, 1fr);
    } 

    .info002 {
        grid-template-columns: repeat(2, 1fr);
    }
}
    
@media (max-width: 1000px) {
    .menu-toggle {
        display: block;
        padding-right: 30px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.100);
        top: 80px;
        right: 20px;
        background: white;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
    }

    .menu-toggle:hover {
        color: #2e8178;
    }
    
    .menu a {
        color: var(--color001);
    }
    
    .menu.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    .text1 {
        width: 65%;
    }

    .text1 h1{
        font-size: 3em;
    }

    .text1 p {
        font-size: 15px;
        line-height: 30px;
    }

    #solucao h1 {
        font-size: 1.5em;
    }

    #solucao p {
        font-size: 15px;
        line-height: 20px;
    }

    #solucao {
        gap: 15px;
    }

    #solucao2 {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .imagem {
        margin: 0 auto;
        width: 500px;
        height: 300px;
    }

    .text2 {
        text-align: center;
        margin: 0 auto;
    }

    .text2 hr {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .text2 h1 {
        padding-top: 30px;
    }

    .text2 p {
        line-height: 30px;
        font-size: 16px;
    }
    
    .info001 div {
        max-width: 400px;
        margin: 0 auto;
    }
    
    .info001 p {
        font-size: 12px;
        line-height: 20px;
    }
    
    #solucao3 .titulo h1 {
        font-size: 2em;
    }
    
    #tecnologia {
        display: block;
        height: auto;
    }
    
    .imagem-lado {
        width: 100vw;
        height: 400px;
    }
    
    .tecnologia {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    
    .tecnologia h1 {
        font-size: 2em;
    }
    
    .tecnologia hr {
        margin: 0 auto;
    }
    
    .tecnologia p {
        font-size: 16px;
        padding-top: 30px;
    }
    
    .tecnologia h2 {
        font-size: 1.4em;
    }
    
    .tecnologia li {
        font-size: 16px;
        text-align: left;
    }
    
    .info002 {
        grid-template-columns: repeat(1, 1fr);
    }

    
    .input-group input,
    .input-group textarea {
        width: 250px;
    }
}

@media (max-width: 768px) {   
    .text1 {
        width: 80%;
    }
    
    .text1 h1 {
        font-size: 2.5em;
    }

    .text1 p {
        font-size: 13px;
        line-height: 25px;
    }
    
    .imagem {
        margin: 0 auto;
        width: 300px;
        height: 200px;
    }
    
    .info001 {
        text-align: center;
        margin: 0 auto;
        max-width: 800px;
        grid-template-columns: repeat(1, 1fr);
    }

    .info002 {
        width: 90%;
    }

    .info002 img {
        width: 300px;
        height: 180px;
    }
    
    #contacto {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }  
}

@media (max-width: 600px) {
    #solucao {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
