@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font001: "Work Sans", serif;
    --color001: #3FB3A6;
    --color002: #009CDC;
    --color003: #D77535;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font001);
    background-color: #fff;
}

html , body {
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: white;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.103);
    position: fixed;
    gap: 20%;
}

header img {
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 60px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--color001);
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    transition: .3s ease;
}

nav ul li a:hover {
    transform: scale(1.05);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--color001);
    cursor: pointer;
    padding-right: 30px;
} 

main {
    padding-top: 135px;
}

section {
    scroll-margin-top: 135px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url(imagens/imagem001.jpg) no-repeat center center;
    background-position: cover;
    background-attachment: fixed;
    min-height: 550px;
    width: 100vw;
}

div.text1 {
    text-align: center;
    min-width: 450px;
    max-width: 50vw;
    color: white;
}

div.text1 h1 {
    font-size: 2.5em;
    padding: 30px;
}

div.text1 p {
    font-size: 20px;
    padding-bottom: 45px;
    line-height: 35px;
}

div.text1 a {
    text-decoration: none;
    color: white;
    background-color: var(--color001);
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

div.text1 a:hover {
    background-color: white;
    color: var(--color001);
}

#solucao {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    margin: 0;
    height: auto;
    color: var(--color001);
    line-height: 30px;
    background-color: var(--color001);
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#solucao div {
    flex: 1;
    max-width: 500px;
    margin: 0;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.082);
}

#solucao h1 {
    padding-bottom: 10px;
    font-weight: 500;
}

#solucao hr {
    border: none;
    height: 1px;
    background-color: var(--color001);
    width: 40%;
    margin-bottom: 20px;
}

#solucao2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

#solucao2 div {
    max-width: 600px;
}

.imagem {
    width: 400px;
    height: 500px; 
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text2 h1 {
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 10px;
}

.text2 hr {
    border: none;
    height: 1px;
    background-color: var(--color001);
    width: 200px;
    margin-bottom: 20px;
}

.text2 p {
    font-size: 18px;
    line-height: 30px;
}

.text2 img {
    padding-top: 20px;
    width: 150px;
}

#solucao3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--color001);
    color: white;
}

#solucao3 h1 {
    padding-top: 30px;
    width: 400px;
}

.info001 img {
    width: 50px;
    padding-bottom: 15px;
}

.info001 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info001 div {
    max-width: 250px;
    padding: 30px;
}

.info001 h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.info001 p {
    font-size: 15px;
    line-height: 25px;
}

footer {
    background-color: #ccc;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

footer a:hover {
    text-decoration: underline;
}

/*RESPOSIVIDADE*/

@media (max-width: 1000px) {
    .menu-toggle {
        display: block;
        padding-right: 30px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.100);
        top: 80px;
        right: 20px;
        background: white;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
    }

    .menu-toggle:hover {
        color: #2e8178;
    }
    
    .menu a {
        color: var(--color001);
    }
    
    .menu.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    div.text1 h1{
        font-size: 2em;
    }

    div.text1 p {
        font-size: 15px;
    }

    #solucao h1 {
        font-size: 1em;
    }

    #solucao p {
        font-size: 15px;
    }

    #solucao {
        gap: 15px;
    }

    #solucao2 {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .imagem {
        margin: 0 auto;
        width: 500px;
        height: 300px;
    }

    .text2 {
        text-align: center;
        margin: 0 auto;
    }

    .text2 hr {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .text2 h1 {
        padding-top: 30px;
    }

    .text2 p {
        font-size: 16px;
    }
}